{% load monetization_tags %}

<!-- Sidebar -->
{% render_ads "sidebar" "affiliate" %}
{% render_ads "sidebar" "featured" %}

<!-- Footer -->
{% render_ads "footer" "affiliate" %}
{% render_ads "footer" "featured" %}

<!-- Inside blog post -->
{% render_ads "inpost" "affiliate" %}
{% render_ads "inpost" "featured" %}



{% for post in posts %}
<div class="featured-post">
    <h3>{{ post.blog_post.title }}</h3>
    {% if post.headline %}
    <p>{{ post.headline }}</p>
    {% endif %}
</div>
{% endfor %}
